.avatar-box(
	[ngClass]='defaultOptions?.componentClass',
	[style.width]='size + "px"',
	[style.maxWidth]='size + "px"',
	[style.minWidth]='size + "px"',
	[style.height]='size + "px"',
	[style.maxHeight]='size + "px"',
	[style.minHeight]='size + "px"',
	[class.rounded]='rounded',
	[class.no-avatar]='!source && !defaultAvatar',
	[style.backgroundColor]='!source && !defaultAvatar && avatarBackground')
	ng-template([ngIf]='source || defaultAvatar')
		img(
			*ngIf='lazy',
			[defaultImage]='defaultAvatar',
			[lazyLoad]='source || defaultAvatar')
		img(
			*ngIf='!lazy',
			[attr.src]='source | image: defaultAvatar | async')
	span(
		*ngIf='!source && !defaultAvatar',
		[style.fontSize]='( size / ( titleLength * 1.5 ) ) + "px"',
		[style.lineHeight]='( size / ( titleLength * 1.5 ) ) + "px"')
		| {{ avatarTitle }}
